
<div class="containerCards">   
    <div class="pokemon-group"  *ngFor="let pokemon of pokemons; let i = index" (click)="openModal(pokemon.id)">      
        <div class="poke-info">
          <p class="poke-num">{{pokemon.id}}</p>
          
          <div class="img-circle">
            <img src={{pokemon.img}} >
          </div>
          <p class="poke-name">{{pokemon.name}}</p>
        </div>
        <!-- <div class="container-info">
         <p class="poke-name">{{pokemon.name}}</p>
         <div class="poke-hability">
          <h4>Abilities</h4>
          <div class="poke-abilities"  *ngFor="let ability of pokemon.abilities">
            <p>{{ability}}</p>            
          </div>
         </div>
        </div> -->
     </div>


    <div class="" name="" ngDefaultControl  *ngIf="modalSwitch" [(ngModel)]="pokemonSelect">
      <app-modal-pokedex [infoPokemon]="pokemonSelect"></app-modal-pokedex>
    </div>
    
</div>
<!-- <app-footer></app-footer> -->
