<div class="container-slider">
  <ul class ="ul-slider">
    <li class="li-slider">
      <div>
        <h3>Mewtwo</h3>
        <p>Se trata de un Pokémon Legendario tipo psíquico, que aparece por primera vez en Pokémon Red y Blue, donde además es capturable por el jugador. Es el Pokémon número ciento cincuenta del Pokédex nacional.</p>
        <!-- <button class="button-slider" >VER MAS</button> -->
      </div>
      <img  src="../../../assets/613925.jpg">
    </li>

    <li class="li-slider">
      <div>
        <h3>Bulbasaur </h3>
        <p>Se puede ver a Bulbasaur durmiendo la siesta a la luz del sol. Hay una semilla en su espalda. Al absorber los rayos del sol, la semilla crece progresivamente.</p>
        <button class="button-slider">VER MAS</button>
      </div>
      <img src="../../../assets/pokemon4.jpg">
    </li>
    <li class="li-slider">
      <div>
        <h3>Pikachu </h3>
        <p>Cada vez que Pikachu se encuentra con algo nuevo, lo explota con una descarga eléctrica. Si te encuentras con una baya ennegrecida, es evidencia de que este Pokémon confundió la intensidad de su carga.</p>
        <button class="button-slider">VER MAS</button>
      </div>
      <img src="../../../assets/pokemons.jpg">
    </li>
    <li class="li-slider">
      <div>
        <h3>Pokemon jugando al póker digital</h3>
        <p>Azurill (Pokémon), Marill (Pokémon), Mew (Pokémon), Pikachu, Pokeball, Psyduck (Pokémon), Riolu (Pokémon), Teddiursa (Pokémon)</p>
        <button class="button-slider">VER MAS</button>
      </div>
      <img src="../../../assets/603479.png">
    </li>
  </ul>
</div>
