<div class="container-slider">
  <ul class ="ul-slider">
    <li class="li-slider">
      <div>
        <h3>Mewtwo</h3>
        <p>Se trata de un Pokémon Legendario tipo psíquico, que aparece por primera vez en Pokémon Red y Blue, donde además es capturable por el jugador. Es el Pokémon número ciento cincuenta del Pokédex nacional.</p>
        <button class="button-slider">VER MAS</button>
      </div>
      <img  src="../../../assets/613925.jpg">
    </li>

    <li class="li-slider">
      <div>
        <h3>Pokemon</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, quibusdam aperiam. Suscipit repellat saepe alias vitae, animi laudantium. Reiciendis ea cum dolorum tempore at placeat numquam ipsa rerum sapiente consequuntur.</p>
        <button class="button-slider">VER MAS</button>
      </div>
      <img src="../../../assets/pokemon4.jpg">
    </li>
    <li class="li-slider">
      <div>
        <h3>dvkn</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit placeat optio laudantium omnis. Quae labore, consequatur accusantium, pariatur assumenda corrupti quo commodi recusandae adipisci explicabo ipsum voluptas repudiandae. Fugiat, deserunt.</p>
        <button class="button-slider">VER MAS</button>
      </div>
      <img src="../../../assets/pokemons.jpg">
    </li>
    <li class="li-slider">
      <div>
        <h3>Pokemon jugando al póker digital</h3>
        <p>Azurill (Pokémon), Marill (Pokémon), Mew (Pokémon), Pikachu, Pokeball, Psyduck (Pokémon), Riolu (Pokémon), Teddiursa (Pokémon)</p>
        <button class="button-slider">VER MAS</button>
      </div>
      <img src="../../../assets/603479.png">
    </li>
  </ul>
</div>
