<div class="modal-pokedex">
    <div class="moda-info" *ngFor="let pokemon of infoPokemon">
        <figure>
            <img [src]="pokemon.img">
        </figure>     
        <div class="modal-body">
            <div class="modal-body-info">               
                    <h4 class="modal-body-name">{{pokemon.name}} - {{pokemon.id}}</h4>
                    <div class="modal-body-dates">
                        <div class=" body-dates poke-hability">
                            <h4>Abilities</h4>
                            <div class="poke-abilities"  *ngFor="let ability of pokemon.abilities">
                                <p>{{ability}}</p>            
                            </div>
                        </div>
                        <div class="body-dates">
                            <div class="">
                                <h4>Height</h4>
                                <p>{{pokemon.Height}}</p>
                            </div>
                            <div>
                                <h4>weight </h4> 
                                <p>{{pokemon.weight}}</p>
                            </div>
                        </div>
                        <div class="body-dates date-types"  >                     
                            <!-- <h4>Types</h4>
                            <p>{{pokemon.Types}}</p>  -->
                            <h4>Abilities</h4>
                            <div class="poke-abilities"  *ngFor="let type of pokemon.Types">
                                <p>{{type}}</p>            
                            </div>
                        </div>

                    </div>
                    
                    
            </div> 
            <button class="button-modal-close" (click)="closeModal()">X</button>          
        </div>
    </div>     
</div>
