.container-previaInfo{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 500px;
  background-color: var(--colorMorado);
  box-shadow: 1px 1px 2px rgb(234, 0, 255), 0 0 1em rgb(90, 90, 230), 0 0 0.2em blue;

}
.box-info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 10px;
  padding: 20px;
}
.box-info h2{
}
.card-pokemon{
  display: flex;
  width: 95%;
  height: 45%;
  margin: 5px;
  background-color: rgb(167, 167, 212);
}

.card-pokemon div {
  width: 50%;

}

.image-paralelogramo1{
  width: 650px;
  height: 100%;
  background:url("../../../assets/thumbnail.jpg");
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}
.image-paralelogramo2{

  width: 650px;
  height: 100%;
   background:url("../../../assets/thumbnail1.jpg");
   clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}
