<div class="container-previaInfo">
  <div class="box-info">
    <h2 class="title-info">Pokemones</h2>
    <div class="card-pokemon">
      <div class="image-paralelogramo1">
       </div>
       <div class="info-poke">
        <h2> MEW</h2>
        <p> Sácale todo el partido al poder psíquico de este ofensivo de largo alcance durante tus combates en Æos. ¡Mew está listo para confundir a sus rivales en Pokémon UNITE con sus poderosos juegos mentales!</p>
    
       </div>      
    </div>
    <div class="card-pokemon">
      <div class="image-paralelogramo2"></div>

      <div class="info-poke">
        <h2> SYLVEON</h2>
        <p> Sylveon ataca a sus oponentes a distancia, a la par que sube sus características y recupera PS.</p>
    
       </div> 
    </div>
  </div>
</div>
