.containerPokeMemoryGral{
  background-image: url('../../../assets/fondo2.png');
  position: relative;
}
.button-jugar{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}
.button-jugar button{
  width: 30%;
  height: 100px;
  background-color: #3B3486;
  border-radius: 12px;
  box-shadow: 3px 3px 5px #161616;
  border: none;
  font-size: 80px;
  color: #F0EEED;
  text-shadow: 3px 3px 7px #161616;
  cursor: pointer;
  margin-bottom: 50px;


}
.containerPlayGame{
  width: 100%;
  height: 100vh;
  top: 0;
  position: absolute;

}
.container-audio{
  display: none;
}

.show-container-audio{
  height: 75px;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
}
.container-audio h2{
  padding:  0 15px ;
}

.container-audio button{
  height: 60%;
  width: 3.5%;
  border-radius: 100px;
  margin-right: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
.container-audio button img{
  height: 120%;
  width: 120%;
}
.container-lose{
  width: 30%;
  height: 100px;
  background-color: aqua;
}
.container-cards{
  width: 100%;

  /* flex-direction: column; */
  display:grid;
  grid-template-columns: repeat(6, 0.2fr);
  /* grid-row: 2; */

  cursor: pointer;
  grid-gap: 10px;
  padding: 0 50px;
  justify-content: center;
  align-content: center;

}
.card-pokemon1{
  background-color:  #F0EEED;
  box-shadow: 1px 1px 7px #3B3486;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 100%;
  border-radius: 10px;
  font-size: 12px;
}
.card-pokemon1 img{
  height: 80%;
  width: 80%;
}

.card-pokemon2{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width:100%;
  border-radius: 10px;
  border:none;
}
.card-pokemon2:hover{
  border: 2px solid violet;
}
.card-pokemon2 button{
  width: 40%;
  height: 50%;
}
.card-pokemon2-oculto, .container-audio-button{
  display: none;
}
.card-pokemon2-mostrar{
  display: block;
}
.show-container-cards{
  display: flex;
  display:grid;
  grid-template-columns: repeat(6, 0.2fr);
  grid-gap: 10px;
  padding: 30px 50px;
  justify-content: center;
  align-content: center;

}

.card-pokemon:hover{
  border: 1.5px solid blueviolet;
}

/* .container-play{
  background-color:#3B3486;
} */
