
<section class="section-play">

  <button class="section-play-button" (click)="startGame()" #buttonGame> JUGAR </button>
  <div class="container-audio" #containerAudio >
    <!-- <audio controls src='../../../assets/musica_fondo.mp3' type="audio/mp3">
    </audio> -->
    <h2>time: {{minutos}} : {{segundos}}</h2>
    <button (click)="playAudio()">
      <img src="../../../assets/icono_audio.png">
    </button>
  </div>

  <div class="container-cards" #containerCards >
    <div class="card-pokemon1" *ngFor="let card of pokeData;let i = index">
        <img src ="{{card.image}}">
        <h2>{{card.id}}</h2>
        <button class="card-pokemon2" (click)="hiddenCard($event,card.id)"  [disabled]= "isDisabled">
          <!-- <button (click)="hiddenImg($event, card.id)" [disabled]= "isDisabled"></button> -->
        </button>
    </div>
  </div>
</section>


