.section-play{
  height: 87.8vh;
  width: 100%;
  background-image: url("../../../assets/fondo_pokememory.png");
  background-size:  100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-play-button{
  font-family: 'Josefin Sans', sans-serif;
  background-color: #3B3486;
  color: var(--blanco);
  border: none ;
  border-radius: 5px;
  width: 15%;
  height: 10%;
  font-size: 20px;
  cursor: pointer;
}
.container-audio{
  display: none;
}

.show-container-audio{
  height: 75px;
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding:  0 20px;
  margin-bottom: 30px;
}

.container-audio button{
  height: 75%;
  width: 3.5%;
  border-radius: 100px;
  margin-right: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
.container-audio button img{
  height: 120%;
  width: 120%;
}
.container-cards{

  display:grid;
  grid-template-columns: repeat(6, 0.2fr);
  grid-gap: 10px;
  padding: 30px 50px;
  justify-content: center;
  align-content: center;
  display: none;
}
.card-pokemon1{
  background-color:  #F0EEED;
  box-shadow: 1px 1px 7px #3B3486;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 100%;
  border-radius: 10px;
  font-size: 12px;
}
.card-pokemon1 img{
  height: 80%;
  width: 80%;
}

.card-pokemon2{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/poke.jpg");
  object-fit: none;
  background-repeat: no-repeat;
  height:100%;
  width:100%;
  border-radius: 10px;
  border:none;
}
.card-pokemon2:hover{
  border: 2px solid violet;
}
.card-pokemon2 button{
  /* background-image: url("../../../assets/poke.jpg"); */
  width: 40%;
  height: 50%;
}
.card-pokemon2-oculto, .container-audio-button{
  display: none;
}
.card-pokemon2-mostrar{
  display: block;
}
.show-container-cards{
  display: flex;
  display:grid;
  grid-template-columns: repeat(6, 0.2fr);
  grid-gap: 10px;
  padding: 30px 50px;
  justify-content: center;
  align-content: center;

}

.card-pokemon:hover{
  border: 1.5px solid blueviolet;
}

/* .container-play{
  background-color:#3B3486;
} */
