.containerPokeMemoryGral{
  background-image: url('../../../assets/fondo2.png');
  position: relative;
}
.button-jugar{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}
.button-jugar button{
  width: 30%;
  height: 100px;
  background-color: #3B3486;
  border-radius: 12px;
  box-shadow: 3px 3px 5px #161616;
  border: none;
  font-size: 80px;
  color: #F0EEED;
  text-shadow: 3px 3px 7px #161616;
  cursor: pointer;
  margin-bottom: 50px;


}
.container-audio{
  /* background-color: aqua; */
  height: 75px;
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding:  0 20px;
}
.container-audio button{
  height: 75%;
  width: 3.5%;
  border-radius: 100px;
  margin-right: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;;
}
.container-audio button img{
  height: 120%;
  width: 120%;
}
.container-cards{ 
  width: 100%;
  position: absolute;
  display:grid;
  grid-template-columns: repeat(6, 0.2fr);
  cursor: pointer;
  grid-gap: 10px;
  padding: 30px 50px;
  justify-content: center;
  align-content: center;
  top: 0;
  
}
.card-pokemon1{
  background-color:  #F0EEED;
  box-shadow: 1px 1px 7px #3B3486;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid black; */
  width: 80%;
  height: 100%;
  border-radius: 10px;
  font-size: 12px;
}
.card-pokemon1 img{
  height: 80%;
  width: 80%;
}

.card-pokemon2{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width:100%;
  border-radius: 10px;
  border:none;
}
.card-pokemon2:hover{
  border: 2px solid violet;
}
.card-pokemon2 button{
  width: 40%;
  height: 50%;
}
.card-pokemon2-oculto{
  display: none;
}
.card-pokemon2-mostrar{
  display: block;
}

.card-pokemon:hover{
  border: 1.5px solid blueviolet;
}
